<!DOCTYPE HTML>


<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Cadastro do Colaborador</title>
    </head>

    <body>

        <p>
            <a href="~/Shampoo" class="button">Cadastrar Shampoo</a>
        </p>
        <p>
            <a href="~/Perfume" class="button">Cadastrar Perfume</a>
        </p>
        <p>
            <a href="~/Desodorante" class="button">Cadastrar Desodorante</a>
        </p>
        <br />
        <p>
            <a href="~/ListaShampoos" class="button">Listar Shampoos Cadastrados</a>
            <a href="~/ListaPerfumes" class="button">Listar Perfumes Cadastrados</a>
            <a href="~/ListaProdutos" class="button">Listar Desodorantes Cadastrados</a>
        </p>

    </body>
</html>