@using ProjAtividade_3.Service

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <a href="~/Home">Inicio</a>
    <br />
    <div>
        <p>Desodorantes Cadastrados</p>
        <Section>
            <pre>
                @CreateRead.ObterDesodorante()
            </pre>
        </Section>
    </div>
</body>
</html>
