<!DOCTYPE HTML>

@using ProjAtividade_3.Controllers

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Produtos</title>
</head>
<body>

    <p>Cadastro de produto efetuado com sucesso!</p>
    <a href="~/home" type="button">Voltar</a>

    <section>
        @if (!IsPost)
        { Response.Redirect("~/Colaborador"); }
        else
        {
            //int id = Request.Form["Id"];
            int tipo = Convert.ToInt32(Request.Form["Tipo"]);
            int id = Convert.ToInt32(Request.Form["Id"]);
            string nome = Request.Form["Nome"];
            string carateristica = Request.Form["Carateristica"];

            if (string.IsNullOrWhiteSpace(nome) || string.IsNullOrWhiteSpace(carateristica))
            { Response.Redirect("~/Home"); }
            else
            {
                ProcessaProdutoController.IncluirProduto(tipo, id, nome, carateristica);
            }
        }

    </section>

</body>
</html>