<!DOCTYPE html>
<html>
    <head>
        <title>Meu App de Produtos</title>
        <link href="~/Content/Estilo.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <h1>Gerenciamento de Produtos</h1>
        </header>

        @RenderBody()

        <hr />

        <footer>
            Desenvolvido para o curso de ASP.NET&copy; @DateTime.Now.
            Year
        </footer>
    </body>
</html>
